@use 'sass:color';
@use 'variables' as *;

@mixin btn-base {
  background: $reg-green;
  color: white;
  border: none;
  padding: 15px 30px;
  font-family: $font-main;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s;
  display: inline-block;
  text-align: center;

  &:hover {
    // Remplacement moderne de darken()
    background: color.adjust($reg-green, $lightness: -5%);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
