$poster-beige: #e4e9d5;
$prohib-black: #141414;
$reg-green: #297534;
$highlight-green: #4caf50;
$light-green: #8bc34a;
$error-red: #d32f2f;
$gold: #d4af37;
$silver: #c0c0c0;
$bronze: #cd7f32;

$font-main: 'Space Grotesk', sans-serif;
$font-mono: 'Share Tech Mono', monospace;
